.sliders {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sliders > div {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 20px;
    -ms-overflow-style: initial;
    scrollbar-width: initial;
    height: 220px;
}